body{
    background-color:#333
}

p{
    font-size:24px;line-height:30px
}

.card1,.card2,.card3,.card4,.card5{
    /*padding:30px;*/
    font-size:26px
}

.x-phone .card1,.x-phone .card3,.x-phone .card4,.x-phone .card5{
    font-size:22px
}

.x-phone .card2{
    font-size:20px
}

.x-phone p{
    font-size:16px;
    line-height:18px
}

.card1,.card2,.card3,.card4,.card5{
    color:rgba(0,0,0,0.2);
    text-shadow:rgba(255,255,255,0.2) 0 1px 0;
    text-align:left;
    /*font-weight:bold*/
}

/*.x-dock.x-dock-vertical.x-sized .x-dock-body .x-inner.x-layout-card .x-container.x-panel.x-paint-monitored.card6.x-layout-card-item.x-sized{*/
    /*margin: 0;*/
/*}*/

.card6{
    color: #000;
    text-align:left;
    font-size:10px
    /*font-weight:bold*/
}

h1{
    /*font-weight:bold*/
}

.card1{
    background-color:#eee
}

.card2{
    background-color:#eee;
    font-size:20px;
}

.card3{
    background-color:#eee
}

.card4{
    background-color:#eee
}

.card5{
    background-color:#926D9C
}

.card1 small.second-line{
    font-weight:lighter;
}
